Dataset/
data/
Alamosaraw/
alamosa_data/
beam_data/
dataset/
omatools/
other_scripts/

IdResults.mat
oldfdd.m
beamtest.mat

testdata\.mat

*.PNG

beam_modeshape/mode_sum\.xlsx

result_tbeampristine\.mat

peak_comparison\.xlsx

beam_modeshape/~\$mode_sum\.xlsx

tbeam_experiment2\.mat

~\$peak_comparison\.xlsx

result_pitbridge\.mat

matlab\.mat

result_steelbridge\.mat

result_tbeam\.mat

result_woodbridge\.mat

*.mat

testsignal\.csv

*.csv

scripts/thesis_scripts/
scripts/Auxillary
